/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* CSS used here will be applied after bootstrap.css */
body {
  background-color: #eaeaea;
}

img.avatar {
  border: 1px solid #eee;
}

.only-bottom-margin {
  margin-top: 0px;
}

.activity-mini {
  padding-right: 15px;
  float: left;
}

/*
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
*/
body {
    background: url(http://habrastorage.org/files/c9c/191/f22/c9c191f226c643eabcce6debfe76049d.jpg);
}

.jumbotron {
	text-align: center;
	width: 30rem;
    height: 40rem;
	border-radius: 0.5rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 4rem auto;
	background-color: #fff;
	padding: 2rem;
}

.container .glyphicon-list-alt {
	font-size: 10rem;
	margin-top: 3rem;
	color: #f96145;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
}
h2 {
	margin-bottom: 3rem;
	font-weight: bold;
	color: #ababab;
}
.btn {
	border-radius: 0.2rem;
}
.btn .glyphicon {
	font-size: 3rem;
	color: #fff;
}

.full-width {
	background-color: #8eb5e2;
	width: 100%;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 4.25rem;
	margin-right: 4.25rem;
}

a.linkedin {
    display: block;
    width: 215px;
    height: 41px;
    background: url(../img/Sign-in-Large---Default.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
}

a.linkedin:hover {
    background: url(../img/Sign-in-Large---Hover.png) no-repeat;
}

a.linkedin:active {
    background: url(../img/Sign-in-Large---Active.png) no-repeat;
}

@-webkit-keyframes myChange {
  from {
      height: 0px;
  } to {
      height: 582.4px;
  }
}

@keyframes myChange {
  from {
      height: 0px;
  } to {
      height: 582.4px;
  }
}

div.ng-show {
  -webkit-animation: slide 1s forwards myChange;
  animation: slide 1s forwards myChange;
}
